* {
    box-sizing: border-box;
}

:root {
    --primary: #44e9ff;
    --secondary: #497980;
    --tertiary: rgb(192, 246, 253);
    --grey: #333;
    /* font-size: 62.5%; */
}

header {
    background: var(--secondary);
    padding: 30px 25px;
    border-bottom: 5px solid var(--primary);
    text-align: center;
}

.secondHeader {
    background: var(--primary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.scores {
    background: var(--seondary);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#currentScore {
    padding: 0px 5px;
}
#highscore{
    padding: 0px 5px;
}

.timer {
    background: var(--seondary);
    display: flex;
    padding: 0px 5px;
    
}
#startquiz{
    text-align: center;
    font-size: 25px;
    background: lightblue;
    margin : 5px auto;
    border: 3px solid blue;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}
#quizarea{
    text-align: center;
    margin: 10px auto;
}


#questionArea{
    background: beige;
    font-style: strong;
}

.quizQuestion{
    font-size: 35px;   
}
.quizOptions{
    font-size: 25px;
    margin: 0px 5px;
    list-style: none;
}
.answerOption{
    background-color: greenyellow;
    border: 2px solid black;
    margin: 5px;
}
.answerOptionSelected{
    background-color: blue;
    border: 2px solid black;
    margin: 5px;
    color: white;
}
.submit{
    text-align: center;
    margin: 5px auto;
}
.submitAnswerButtonHidden {
    color: blue;
    background: lightblue;
    padding: 10px 15px;
    display: none;
    border : 3px solid lightblue;
    border-radius: 5px;
    font-weight: bold;
}
.submitAnswerButtonVisible {
    color: blue;
    background: lightblue;
    padding: 10px 15px;
    border : 3px solid lightblue;
    border-radius: 5px;
    font-weight: bold;
}

.resultArea{
    text-align: center;
    font-weight: bold;
}
.CorrectResult{
    color : green;
}
.WrongResult{
    color : red;
}
